@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
 input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(229, 242, 250);
    color: black;
}

.h2{
    font-family: 'Marck Script', cursive !important;
    font-style: italic;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

