.addForm{
    display: flex;
    justify-content: center;
}
.addForm input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(195, 230, 250);
    color: black;
    
}
.addForm button{
    margin-left: 15px;
    background-color: rgb(121, 215, 252);
    border-radius: 12px;
}